@import "tailwindcss/base";

* {
  box-sizing: border-box;
}

body {
  color: #555;
}

h1,
h1,
h3,
h4 {
  color: #000;
}

.link {
  @apply text-red-600 font-extrabold;
}

.banner-background {
  min-height: 600px;
  display: flex;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";
