@import "tailwindcss/base";
/* purgecss start ignore */
* {
  box-sizing: border-box;
}

body {
  color: #555;
}

h1,
h1,
h3,
h4 {
  color: #000;
}

pre {
  line-height: 1.75rem;
  white-space: pre-wrap;
  font-family: Inter, -apple-system, BlinkMacSystemFont;
}

.article img,
.article p img {
  margin: 2rem auto;
  border-radius: 1%;
  width: 100%;
  max-width: 100%;
  display: block;
}

article p:first-child {
  @apply text-gray-600;
}

@media only screen and (min-width: 640px) {
  .article img,
  .article p img {
    max-width: 80%;
    margin: 3rem auto;
    width: 80%;
  }
}

@media only screen and (min-width: 640px) {
  pre.heading {
    line-height: 3rem;
  }
}

p {
  @apply mb-6 leading-7;
}

h2 {
  @apply text-3xl font-bold;
}

.link,
article a {
  @apply text-red-600 font-extrabold pb-1;
}

.link-active {
  @apply border-b-4 border-wayblue;
}

.gallery {
  height: 630px;
}

@media only screen and (min-width: 1024px) {
  .gallery {
    height: 500px;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 66.25%;
  max-height: 600px;
}

@media only screen and (min-width: 1024px) {
  .player-wrapper {
    padding-top: 36.25%;
  }

  .blog-image {
    height: 30rem;
    background-position-y: bottom;
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 600px;
}

.banner-background {
  min-height: 600px;
  display: flex;
  background-color: #fff;
}

.banner-background:before,
.banner-background:after {
  background-position: 75% 60% !important;
}

.circle {
  border-radius: 100%;
}

#icon-camera .capture {
  -webkit-animation-name: capture;
  animation-name: capture;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes capture {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  14% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  28% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  70% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    fill: #ea3970;
  }
}

@keyframes capture {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  14% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  28% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  70% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    fill: #ea3970;
  }
}
/* purgecss end ignore */
@import "tailwindcss/components";

@import "tailwindcss/utilities";
