@import "tailwindcss/base";

* {
  box-sizing: border-box;
}

body {
  color: #555;
}

h1,
h1,
h3,
h4 {
  color: #000;
}

p {
  @apply mb-6 leading-7;
}

h2 {
  @apply text-3xl font-bold;
}

.link {
  @apply text-red-600 font-extrabold pb-1;
}

.link-active {
  @apply border-b-4 border-wayblue;
}

.player-wrapper {
  position: relative;
  padding-top: 66.25%;
  max-height: 600px;
}

@media only screen and (min-width: 1024px) {
  .player-wrapper {
    padding-top: 36.25%;
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 600px;
}

.banner-background {
  min-height: 600px;
  display: flex;
  background-color: #fff;
}

.banner-background:before,
.banner-background:after {
  background-position: 75% 60% !important;
}

.circle {
  border-radius: 100%;
}

#icon-camera .capture {
  -webkit-animation-name: capture;
  animation-name: capture;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes capture {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  14% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  28% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  70% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    fill: #ea3970;
  }
}

@keyframes capture {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  14% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  28% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  70% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    fill: #ea3970;
  }
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";
